<div class="navTest effect6">
<nav class="navbar navbar-inverse navbar-fixed-top ">
  <div class="container ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="../assets/images/rkm_signet_eurostar_whtltr.svg" width="150"/>
      </a>

    </div>
    <div id="navbar" class="collapse navbar-collapse">

      <ul class="nav navbar-nav">

        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <span id="ltrs_reactivepatterns">reactive patterns</span>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
</div>
<div class="container-fluid" id="mainContent">

</div><!-- /.container -->

<footer class="footer">

  <img src="../assets/images/white_flower.jpeg" class="img-responsive" />
</footer>


